.jumbotron{
	margin-top: -30px;
	background-image: url("bb.png");
	height: 300px;
	background-size: cover;

}
body{
	background-image: url("tx.png");
	background-color: #004a31;
}

input{
	width: 100%;	
}
.info{
	background-color: #faf6ec;
	margin-bottom: 10px;
	height: auto;
	border-radius: 5px;
	padding: 30px;
}
.container{
	margin-bottom: 30px;
}
.buscar{
	margin-bottom: 10px;
}
.jumbotron *{
	color: white;
}